@import "tailwindcss";

@layer components {
    .fleet {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .ship {
        border: 1px solid #ccc;
        padding: 0.5rem;
        border-radius: 0.25rem;
    }

    .equips {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        font-size: 0.8rem;
        color: #888
    }

    .panel {
        @apply p-4 rounded shadow bg-white;
    }

    .board {
        @apply p-2 rounded shadow bg-gray-200 text-gray-600;
    }

    .button {
        @apply px-4 py-2 rounded-full shadow text-white bg-gray-500 transition-all duration-100;

        &:hover {
            @apply bg-gray-600 transition-all duration-100 scale-[1.05] shadow-lg ease-in;
        }

        &:active {
            @apply bg-gray-700 transition-all duration-100 scale-[0.98] shadow-md ease-out;
        }
    }
}